<?xml version="1.0"?>
<!-- SmartSort Warehouse Robot - URDF Model (Gazebo Harmonic Compatible) -->
<robot name="smartsort_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <xacro:if value="$(arg is_ignition)">
            <plugin name="ign_ros_control-system" filename="ign_ros2_control_::IgnitionRos2ControlPlugin">
                <parameters>$(find smartsort_controllers)/config/smartsort_controller.yaml</parameters>
            </plugin>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboRos2ControlPlugin">
                <parameters>$(find smartsort_controllers)/config/smartsort_controller.yaml</parameters>    
            </plugin>
        </xacro:unless>
    </gazebo>

</robot>